
*{
    margin: 0;
    padding: 0;
}

.contenedor{
    background-color: black;
}
/* imagen header celular */
header {
    background-image: url(../IMAGENES/fondo_header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* titulo celular */
h1{
    font-size: 30px;
    text-align: center;
}
/* navegador celular */
.navbar{
    background-color: transparent;
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
}
/* main index celular */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenPersonal {
    width: 80px;
    border-radius: 150px;
    border: 3px solid white;
    justify-self: center;
}
.presentacion{
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    margin: 5px;
}

/* formulario de contacto celular */
.formularioDContacto{
    font-size: 15px;
    font-weight: bold;
    color: aqua;
    
}
/* section musica celular */
.musica{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p {    
    color: aliceblue;
    align-self: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 90%;
}
/* estudios celular */
.estudios{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    text-align: left;
    justify-content: space-evenly;
}
.carreras{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    text-justify: center;
    margin: 5px;
    background-color: rgb(63, 16, 107);
}
.logo_estudios{
    width: 50px;
    height: 50px;
    border-color: black;
}
/* proyectos celular */
.carousel-inner{
    width: 300px;
}
.d-block{
    width: 250px;
    height: 250px;
}
.p_carrusel{
    background-color: blueviolet;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
}
/* footer celular */
.redes_footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logos{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 7px;
    border-color: black;
}
/* logo ws celular */
.ws_logo{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 400px;
    left: 350px;
} 
    @media only screen and (min-width: 768px) {
        /* logo ws para tablet */
        .ws_logo{
            left: 720px;
        }
        /* footer para tablet */
        .redes_footer{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            list-style: none
        }
        /* carrusel para tablet */
        .carousel-inner{
            width: 400px;
        }
        .d-block{
            width: 300px;
            height: 300px;
        }
        .p_carrusel{
            background-color: blueviolet;
            font-size: 15px;
            color: black;
            font-weight: bold;
            text-align: center;
        }
    }

        @media only screen and (min-width: 1020px) {
            .contenedor{
                background-color:black;
            }
        /* imagen header */
            header {
                background-image: url(../IMAGENES/fondo_header.jpg);
                background-position: initial;
                background-repeat: no-repeat;
                background-size: cover;
            }
        /* titulo */
            h1{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 50px;
                color: blueviolet;
                text-align: center;
                font-weight: bold;
            }
        /* navegador */
            .navbar-nav{
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
            .navbar{
                background-color: transparent !important;
            }
            .navbar-brand:hover{
                color: blueviolet;
            }
            .navbar-brand{
                font-weight: bold;
                font-size: 25px;
            }
        /* main index */
            .bienvenida{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }
            .imagenPersonal {
                height: 400px;
                width: 300px;
                border-radius: 150px;
                border: 5px solid blueviolet;
            }
            .presentacion{
                color: aliceblue;
                font-weight: bold;
                font-size: 25px;
                line-height: 95%;
                text-align: justify;
                margin: 10px;
            }

        /* formulario de contacto*/
            .formularioDContacto{
                font-size: 20px;
                color: aqua;
                font-weight: bold;
                width: 750px;
                display: flex;
                align-items: left;
                justify-content: left;
                padding-left: 0;
            }
        /* mapa */
            .mapa_contacto{
                justify-content: center;
            }
            
        /* section musica */
            .musica{
                height: 200px;
                align-items:center;
                padding: 10px;
            }
            p{
                color:black;
                font-size: 20px;
                text-align: justify;
            }

        /* main estudios */
            .estudios{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                row-gap: 20px;
                text-align: left;
                justify-content: space-evenly;
            }
            .carreras{
                height: 150px;
                width: 700px;
                display: flex;
                flex-direction: row;
                text-align: center;
                text-justify: justify;
                justify-content: space-around;
                background-color: rgb(63, 16, 107);
            }
            .logo_estudios{
                width: 150px;
                height: 150px;
                border-radius: 6px;
                border-color: black;
            }
        /* carrusel proyectos */
            .carousel-inner{
                width: 500px;
            }
            .d-block{
                width: 400px;
                height: 400px;
            }
            .p_carrusel{
                background-color: blueviolet;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            
        /* footer */
            .redes_footer{
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                list-style: none;
                padding: 1rem;
                margin: 0;
            }
            .logos{
                width: 70px;
                height: 70px;
                border-radius: 6px;
                border-color: black;
            }
        /* logo ws */
            .ws_logo{
                width: 70px;
                height: 70px;
                position: fixed;
                top: 600px;
                left: 1000px;
            } 
        }